<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello shiho~
    <!--向span标签内部添加文本-->
    <span th:text="hello"></span></br>
    <!--从域中根据参数名取出参数值放在标签中-->
    <span th:text="${msg}"></span></br>
    <hr/>
    <input th:value="msg"/>
    <input th:value="${msg}">
    <hr/>
    <span>
        req:<br>
        <span th:text="${msg}"></span><br>
        session:<br>
        <span th:text="${session.msg}"></span><br>
        app:<br>
        <span th:text="${application.msg}"></span><br>
    </span>
</body>
</html>